# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
balt = pd.read_csv('/Users/mackaroni/Desktop/launchcode/EDA_studios/data-manipulation_studio/week 9 workbook/dataset/baltimore_9-24-2016_9-30-2017.csv')
boston = pd.read_csv('/Users/mackaroni/Desktop/launchcode/EDA_studios/data-manipulation_studio/week 9 workbook/dataset/boston_9-24-2016_9-30-2017.csv')
newyork = pd.read_csv('/Users/mackaroni/Desktop/launchcode/EDA_studios/data-manipulation_studio/week 9 workbook/dataset/new-york_9-24-2016_9-30-2017.csv')
philly = pd.read_csv('/Users/mackaroni/Desktop/launchcode/EDA_studios/data-manipulation_studio/week 9 workbook/dataset/philadelphia_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [3]:
# Clean your data here!
for col in balt.columns:
    pct_missing = np.mean(balt[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
print()
for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
print()
for col in newyork.columns:
    pct_missing = np.mean(newyork[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
print()   
for col in philly.columns:
    pct_missing = np.mean(philly[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
balt = balt.drop(['Type', 
                  'Grade',
                  'Environment',
                  'Quality',
                  'Condition',
                  'Appearance',
                  'Storage',
                  'Crop',
                  'Trans Mode',
                  'Origin District',
                  'Color'], axis=1)

boston = boston.drop(['Type', 
                  'Grade',
                  'Environment',
                  'Quality',
                  'Condition',
                  'Appearance',
                  'Storage',
                  'Crop',
                  'Trans Mode',
                  'Origin District',
                  'Color'], axis=1)

newyork = newyork.drop(['Type', 
                  'Grade',
                  'Environment',
                  'Quality',
                  'Condition',
                  'Appearance',
                  'Storage',
                  'Crop',
                  'Trans Mode',
                  'Origin District',
                  'Color'], axis=1)

philly = philly.drop(['Type', 
                  'Grade',
                  'Environment',
                  'Quality',
                  'Condition',
                  'Appearance',
                  'Storage',
                  'Crop',
                  'Trans Mode',
                  'Origin District',
                  'Color'], axis=1)

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [4]:
# Combine the four dataframes into one!
northeast = pd.concat([balt, boston, newyork, philly], axis=0)
northeast

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,SHELLACKED,N
53,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,SHELLACKED,N
54,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,SHELLACKED,N
55,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,SHELLACKED,N
56,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,SHELLACKED,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [5]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
high_low_mean = northeast.groupby('Package').agg({'High Price': ['mean'], 'Low Price': ['mean']})
high_low_mean

                      High Price   Low Price
                            mean        mean
Package
1 1/9 bushel cartons   16.739583   15.875000
1 1/9 bushel crates    16.705882   16.058824
1/2 bushel cartons     17.597938   16.030928
24 inch bins          202.808989  188.005618
36 inch bins          196.550633  170.458861
50 lb sacks            25.333333   25.111111
bushel cartons         22.857143   20.571429
each                   80.000000   75.000000

In [10]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
#we got stuck here, but this was our guess to get close
terminal_varieties = northeast.groupby(['City Name', 'Variety']).size().reset_index(name='number of pumpkins')
terminal_varieties

       City Name                   Variety  number of pumpkins
0      BALTIMORE             BIG MACK TYPE                  24
1      BALTIMORE                CINDERELLA                  25
2      BALTIMORE                 FAIRYTALE                  16
3      BALTIMORE               HOWDEN TYPE                  25
4      BALTIMORE         HOWDEN WHITE TYPE                   2
5      BALTIMORE                 MINIATURE                  30
6      BALTIMORE  MIXED HEIRLOOM VARIETIES                   3
7      BALTIMORE                  PIE TYPE                  26
8         BOSTON             BIG MACK TYPE                  29
9         BOSTON                 BLUE TYPE                   7
10        BOSTON                CINDERELLA                  14
11        BOSTON                 FAIRYTALE                  21
12        BOSTON               HOWDEN TYPE                 132
13        BOSTON              KNUCKLE HEAD                   7
14        BOSTON                 MINIATURE                  28
15        BOSTON                  PIE TYPE                 114
16      NEW YORK             BIG MACK TYPE                   2
17      NEW YORK               HOWDEN TYPE                  39
18      NEW YORK              KNUCKLE HEAD                   1
19      NEW YORK                 MINIATURE                  27
20      NEW YORK  MIXED HEIRLOOM VARIETIES                   1
21      NEW YORK                  PIE TYPE                  42
22  PHILADELPHIA               HOWDEN TYPE                  28
23  PHILADELPHIA              KNUCKLE HEAD                   1
24  PHILADELPHIA                 MINIATURE                  12
25  PHILADELPHIA                  PIE TYPE                  16

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!